<div class="container">
   <div class="row">
      <div class="col-sm-8 col-md-10 col-md-offset-1">
         <span class="label label-default" style="padding: 8px; display: block; text-align: left; font-size: 1.1em;">
            <a href="{{goBack}}" class="btn btn-default" style="margin-right: 5px;">
               <i class="glyphicon glyphicon-chevron-left"></i>
            </a>
            {{stopName}}
         </span>
         <button role="button" class="btn btn-danger btn-block" style="margin-top: 10px;" onclick="pingStop(); this.disabled=true;">
            Report: Crowded stop
         </button>
         <div class="text-center">
            <i class='glyphicon glyphicon-stop' style='color: gray;'></i> : Historical reports <i class='glyphicon glyphicon-stop' style='color: red;'></i> : Current day reports
         </div>
         <div id="chart"></div>
         <div class="text-center" style="margin-bottom: 10px;">
            <div class="btn-group" data-toggle="buttons">
               <label class="btn btn-default" onclick="drawChart(0);">
                  <input type="radio" name="options" id="day0" autocomplete="off"> Su
               </label>
               <label class="btn btn-default" onclick="drawChart(1);">
                  <input type="radio" name="options" id="day1" autocomplete="off"> M
               </label>
               <label class="btn btn-default" onclick="drawChart(2);">
                  <input type="radio" name="options" id="day2" autocomplete="off"> Tu
               </label>
               <label class="btn btn-default" onclick="drawChart(3);">
                  <input type="radio" name="options" id="day3" autocomplete="off"> W
               </label>
               <label class="btn btn-default" onclick="drawChart(4);">
                  <input type="radio" name="options" id="day4" autocomplete="off"> Th
               </label>
               <label class="btn btn-default" onclick="drawChart(5);">
                  <input type="radio" name="options" id="day5" autocomplete="off"> F
               </label>
               <label class="btn btn-default" onclick="drawChart(6);">
                  <input type="radio" name="options" id="day6" autocomplete="off"> S
               </label>
            </div>
         </div>
         <div id="map" style="height: 225px; margin-bottom: 10px;"></div>
         {{#if tracked}}
         <button role="button" class="btn btn-default btn-block" style="margin-top: 5px; margin-bottom: 5px;" onclick="untrackStop(); this.disabled=true;">
            Remove from feed
         </button>
         {{else}}
         <button role="button" class="btn btn-default btn-block" style="margin-top: 5px; margin-bottom: 5px;" onclick="trackStop(); this.disabled=true;">
            Add to feed
         </button>
         {{/if}}
      </div>
   </div>
</div>

<script src="https://d3js.org/d3.v4.min.js"></script>

<script>

$(document).ready(function() {
   drawChart(new Date().getDay());
});

$(function () {
   $('[data-toggle="popover"]').popover()
})

console.log({{tracked}});

var stopId = "{{stopId}}";
var stopName = "{{stopName}}";
var dLat = {{loc.lat}};
var dLong = {{loc.long}};
console.log(dLat, dLong);

$("#day"+(new Date().getDay())).prop('checked', true).parent().addClass("active");

function pingStop() {
   $.post('/ping/'+stopId, function(result) {
      alert("Report sent!");
      drawChart(new Date().getDay());
   });
}

function trackStop() {
   ga('send', 'event', {
     'eventCategory': 'Tracker',
     'eventAction': 'click'
   });
   $.post('/data/track/'+stopId, function(result) {
      alert("Added to feed!");
   });
}

function untrackStop() {
   ga('send', 'event', {
     'eventCategory': 'Tracker',
     'eventAction': 'click'
   });
   $.post('/data/untrack/'+stopId, function(result) {
      alert("Removed from feed!");
   });
}
</script>

<script src="../js/d3details.js"></script>
<script src="../js/detailsmap.js"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{mapsKey}}&callback=initMap">
    </script>
